@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-rock1 {
    @apply bg-rock;
}
.bg-scissors1{
    @apply bg-scissors;
}
.bg-paper1 {
    @apply bg-paper;
}
.bg-action {
    background-image: url("./assets/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
}